@mixin roboto() {
  font-family: 'Roboto',
  sans-serif;
}

@mixin roboto($style: regular) {
  font-family: "Nato Sans", Arial, sans-serif;

  @if $style==regular {
    font-weight: 400;
  }

  @if $style==medium {
    font-weight: 500;
  }

}

@mixin tablets() {
  @media screen and (max-width: $breakpoint-tablet) {
    @content;
  }
}

@mixin phones() {
  @media screen and (max-width: $breakpoint-mobile) {
    @content;
  }
}
