@mixin jost($style: regular) {
  font-family: "Jost", "Arial", sans-serif;

  @if $style == regular {
    font-weight: 400;
  }

  @if $style == medium {
    font-weight: 500;
  }

  @if $style == semibold {
    font-weight: 600;
  }

  @if $style == bold {
    font-weight: 700;
  }
}

@mixin tablets() {
  @media screen and (max-width: $breakpoint-tablet) {
    @content;
  }
}

@mixin phones() {
  @media screen and (max-width: $breakpoint-mobile) {
    @content;
  }
}
