button {
  border: none;
  background: transparent;
  cursor: pointer;

  &:focus {
    // outline: none;
  }
}

.btn {
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 15px 30px;
  color: $white;
  background-color: $blue;
  @include jost(medium);

  &:hover {
    background-color: #4c5a9f;
  }

  @include phones {
    font-size: 14px;
  }

  // @include tablets {
  //   font-size: rem(16px);
  //   padding: rem(9px) rem(32px);
  // }

  // &:focus {
  //   border-color: $brown-dark;
  // }

  // &:hover {
  //   background-color: $brown-hover;
  // }
}


.btn--bordered {
  border-color: $blue;
  color: $blue;
  background-color: $white;

  &:hover {
    color: $white;
    background-color: $blue;
  }
}

.btn--decorated {
  position: relative;
  padding-left: 40px!important;
  &::before {
    content: "";
    position: absolute;
    display: block;
    background-image: url(images/arrow-left.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 15px;
    height: 8px;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;

  }

  &:hover {
    &::before {
      background-image: url(images/arrow-left-hover.svg);
    }
  }
}
