.footer {
  background-color: $white;
  padding: 40px 0 15px;
  border-top: 1.5px solid rgba(#000, 0.07);
}

.footer__top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 37px;
  border-bottom: 1.5px solid rgba(#000, 0.07);

  @include phones {
    justify-content: initial;
    padding-bottom: 25px;
    flex-wrap: wrap;
  }
}

.footer__company {
  //
}

.footer__info {
  margin-bottom: 30px;

  @include phones {
    display: none;
  }
}

.footer__logo {
  margin-bottom: 7px;
}

.footer__text {
  font-size: 12px;
}

.footer__mission {
  @include phones {
    margin-right: 32px;
  }
}

.footer__mission-preview {
  font-size: 12px;
  position: relative;
  color: $white;
  display: inline-block;
  background: #1a3074;
  border: 1px solid #4871af;
  border-radius: 4px;
  padding: 7px 11px 7px 39px;
  margin-bottom: 6px;

  @include phones {
    padding: 6px 18px 6px 34px;
    font-size: 10px;
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    left: 11px;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    background-image: url("images/mission.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 19px;
    height: 19px;

    @include phones {
      width: 15px;
      height: 15px;
    }
  }
}

.footer__mission-text {
  color: #999999;
  font-size: 12px;

  @include phones {
    font-size: 8px;
  }
}

.footer__menu {
  max-width: 580px;

  @include tablets {
    max-width: 410px;
  }

  @include phones {
    order: -30;
    margin-bottom: 30px;
    max-width: initial;
    width: 100%;
  }
}

.footer__menu-list {
  display: flex;
  justify-content: space-between;

  @include phones {
    justify-content: initial;
    flex-wrap: wrap;
    column-gap: 55px;
    row-gap: 20px;
  }
}

.footer__menu-item {
  @include phones {
    // margin-right: 55px;
  }
}

.footer__menu-item + .footer__menu-item {
  margin-left: 89px;

  @include tablets {
    margin-left: 40px;
  }

  @include phones {
    margin-right: 10px;
    margin-left: 0;
  }
}

.footer__menu-title {
  @include jost(semibold);
  margin-bottom: 20px;


}

.footer__menu-links {
  font-size: 14px;

  @include phones {
    font-size: 12px;
  }
}

.footer__menu-link {
  display: block;
  color: #535353;

  &:hover {
    color: #212121;
  }
}

.footer__menu-link + .footer__menu-link {
  margin-top: 9px;
}

.footer__socials {
  @include phones {
    margin-top: 8px;
  }
}

.footer__bottom {
  padding-top: 12px;
  display: flex;
  font-size: 12px;

  @include phones {
    font-size: 10px;
    display: flex;
    justify-content: space-between;
  }
}

.footer__copyright {
  margin-right: 41px;
}

.footer__support {
  color: #555555;

  &:hover {
    color: #212121;
  }
}

