.header {
  position: fixed;
  left: 0;
  right: 0;
  z-index: $z-index-menu-header;
  border-bottom: 1px solid rgba(#000, .07);
  background-color: $white;

  @include phones {
    padding: 10px 0;
  }

  & .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.header__btn {
  padding: 9px 20px;
  font-size: 12px;
}

.header--discover,
.header--subscription {
    padding: 20px 0;

    & .header__btn {
      @include phones {
        display: none;
      }
    }

    & .container {
      @include phones {
        justify-content: center;
      }
    }
}

.header--subscription {
  display: none;

  & .container {
      justify-content: center;
  }

  @include phones {
    display: block;
  }
}

.header--demonstration {
  padding: 20px 0;
  & .container {
    justify-content: center;
  }
}
