.header {
  position: fixed;
  left: 0;
  right: 0;
  border-bottom: 1px solid rgba(#000, .07);
  background-color: $white;

  @include phones {
    padding: 10px 0;
  }

  & .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.header__btns {
  display: flex;

  @include phones {
    display: none;
  }
}

.header__btn {
  padding: 9px 20px;
  font-size: 12px;
}

.header__btn + .header__btn {
  margin-left: 15px;
}

.header__btn--bordered {
  border-color: $blue;
  color: $blue;
  background-color: $white;
}
