.menu {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.menu--opened {
  & .menu__dropdown {
    top: 0;
  }

  & .menu__toggle {

    & span {
      display: none;
    }

    &::before {
      top: 12px;
      transform: rotate(45deg);
    }

    &::after {
      top: 12px;
      width: 100%;
      transform: rotate(-45deg);
    }

  }
}

.menu__toggle {
  position: relative;
  z-index: $z-index-menu-toggle;
  display: none;
  width: 20px;
  height: 23px;
  font-size: 0;

  @include phones {
    display: block;
  }

  &::before,
  &::after,
  & span {
    position: absolute;
    left: 0;
    border-radius: 5px;
    width: 100%;
    height: 3px;
    background-color: $blue;
    transition: all 0.8s ease;
  }

  & span {
    top: 50%;
    transform: translateY(-50%);
  }

  &::before,
  &::after {
    content: "";
  }

  &::before {
    top: 0;
  }

  &::after {
    left: auto;
    right: 0;
    bottom: 0;
    width: 17px;
  }


}

.menu__dropdown {
  display: flex;
  align-items: center;
  column-gap: 200px;

  @include tablets {
    column-gap: 40px;
  }

  @include phones {
    flex-direction: column;
    position: fixed;
    left: 0;
    right: 0;
    top: -150%;
    height: 100%;
    z-index: $z-index-menu-dropdown;
    overflow: auto;
    padding: 80px 20px 30px;
    background-color: $white;
    transition: all 1s ease;
  }
  &::before {
    @include phones {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 1px;
      background-color: #000;
      opacity: 0.1;
    }
  }
}

.menu__list {
  display: flex;
  align-items: center;

  @include phones() {
    width: 100%;
    flex-direction: column;
    margin-bottom: 55px;
  }
}

.menu__item {
  @include phones {
    width: 100%;
    text-align: center;
    position: relative;
  }

  &::before {
    @include phones {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 1px;
      background-color: #000;
      opacity: 0.1;
    }
  }
}

.menu__item + .menu__item {
  margin-left: 50px;

  @include tablets {
    margin-left: 20px;
  }

  @include phones {
    margin-left: 0;
  }
}

.menu__link {
  position: relative;
  display: inline-block;
  padding: 32px 8px 30px;
  text-decoration: none;
  @include jost(medium);
  text-transform: uppercase;
  color: $black;

  @include phones {
    width: 100%;
    padding: 20px 0;
  }
}

.menu__item:hover::before,
.menu__item--active::before {
  opacity: 1;
  background-color: $blue;
}

.menu__item:hover .menu__link::after,
.menu__item--active .menu__link::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  height: 3px;
  background-color: $blue;

  @include phones {
    display: none;
  }
}

.menu__socials {
  display: none;

  @include phones {
    display: flex;
    justify-content: center;
    order: 30;
  }
}

.menu__btns {
  display: flex;
  @include phones {
    order: 20;
    margin-bottom: 30px;
  }
}

.menu__btn {
}

.menu__btn+.menu__btn {
  margin-left: 15px;
}

