.pulse {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 438px;
  height: 438px;
}

.pulse__dot {
  position: absolute;
  border: 1.5px solid #fff;
  box-sizing: border-box;
  box-shadow: 0px 0px 20px rgb(0 0 0 / 3%);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pulse__dot--first {
  animation: radio1 4s linear infinite;
  animation-delay: 2s;
}

.pulse__dot-second {
  animation: radio2 4s linear infinite;
  animation-delay: 3s;
}

.pulse__dot-third {
  animation: radio3 4s linear infinite;
  animation-delay: 1s;
}


.pulse__logo.logo {
  position: relative;
  width: 106px;
  height: 45px;
}
