<section class="section care">
  <div class="container">
    <div class="care__content">
      <h1 class="care__title">Prenez soin<br>de votre capital humain.</h1>
      <div class="care__info">
        <p>Vous manquez de <span>données</span>, de <span>temps</span> et de <span>compétences</span>
          précises pour répondre
          efficassement aux
          préoccupations de vos équipes?</p>
        <p><span>Phare</span> vous éclaire.</p>
      </div>
      <button class="btn btn__care">Demander l’essai gratuit</button>
    </div>

      <div class="care__devices">
        <img src="images/care-macbook.png" alt="macbook" class="care__macbook" width="692" height="428">
        <img src="images/care-phone.png" alt="phone" class="care__phone" width="181" height="304">
      </div>
  </div>
</section>
