<section class="section faq-entreprises">
  <div class="container">
    <h2 class="faq-entreprises__title">Foire aux questions</h2>

    <ul class="faq-entreprises__list accordion">
      <li class="accordion__item">
        <button class="accordion__control" aria-expanded="false">
          <span class="accordion__title">
            Est-ce que Phare garantit la confidentialité des données transmises?
          </span>
          <svg class="accordion__icon">
            <use xlink:href="images/icons/sprite.svg#plus"></use>
          </svg>
        </button>
        <div class="accordion__content" aria-hidden="true">
          <p>
            Tous les traitements de données sont conformes au RGPD.
            Phare garantit donc la confidentialité des données transmises. Plus que ça, Phare anonymise les données afin
            de garder un haut niveau de confidentialité aux collaborateur
          </p>
        </div>
      </li>
      <li class="accordion__item">
        <button class="accordion__control" aria-expanded="false">
          <span class="accordion__title">Quels sont les avantages pour mon équipe RH?
          </span>
          <svg class="accordion__icon">
            <use xlink:href="images/icons/sprite.svg#plus"></use>
          </svg>
        </button>
        <div class="accordion__content" aria-hidden="true">
          <p>
            L’action de Phare au sein de votre entreprise est une véritable révolution pour vos actions sociales !
          </p>
          <p>
            Au-delà du gain important de temps au traitement des préoccupations sociales des salariés, les équipes RH
            bénéficient des KPI clés en direct et continue afin d’apaiser le climat social dans la société et
            d’améliorer le capital humain.
          </p>
        </div>
      </li>
      <li class="accordion__item">
        <button class="accordion__control" aria-expanded="false">
          <span class="accordion__title">Quel impact sur mes collaborateurs?
          </span>
          <svg class="accordion__icon">
            <use xlink:href="images/icons/sprite.svg#plus"></use>
          </svg>
        </button>
        <div class="accordion__content" aria-hidden="true">
          <p>
            L'expérience collaborateur devient décuplée. Grâce à la technologie, les collaborateurs ont aussi un rôle à
            jouer et sont pleinement impliqués. Même en télétravail.
          </p>
        </div>
      </li>
      <li class="accordion__item">
        <button class="accordion__control" aria-expanded="false">
          <span class="accordion__title">Comment Phare peut réduire les conséquences négatives du télétravail?
          </span>
          <svg class="accordion__icon">
            <use xlink:href="images/icons/sprite.svg#plus"></use>
          </svg>
        </button>
        <div class="accordion__content" aria-hidden="true">
          <p>
            Le télétravail permanent peut, au bout d’un certain temps, avoir des conséquences significatives sur
            l’attachement et l'engagement des collaborateurs à la société. Phare permet de recréer du lien et apporte
            une solution personnalisée à chaque sollicitation.
          </p>
        </div>
      </li>
      <li class="accordion__item">
        <button class="accordion__control" aria-expanded="false">
          <span class="accordion__title">Le rapport d'impact peut-il être utilisé dans le cadre du D.P.E.F.?
          </span>
          <svg class="accordion__icon">
            <use xlink:href="images/icons/sprite.svg#plus"></use>
          </svg>
        </button>
        <div class="accordion__content" aria-hidden="true">
          <p>
            Le rapport d’impact est un véritable outil de pilotage qui peut être utilisé dans la communication détaillée
            des informations sociales de l’entreprise dans le cadre de D.P.E.F.
            Il répond directement à l’exigence de matérialité de celui-ci.
          </p>
        </div>
      </li>
      <li class="accordion__item">
        <button class="accordion__control" aria-expanded="false">
          <span class="accordion__title">Qui sont les ambassadeurs d’impact?
          </span>
          <svg class="accordion__icon">
            <use xlink:href="images/icons/sprite.svg#plus"></use>
          </svg>
        </button>
        <div class="accordion__content" aria-hidden="true">
          <p>
            Les référents Phare sont appelés les ambassadeurs d’impact. C’est une communauté forte dédiée à vos actions
            sociales.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
