<section class="section manage">
  <div class="container">
    <div class="manage__wrapper">
      <!-- elem -->
      <div class="manage__content">
        <h2 class="manage__title">
          pilotez votre stratégie d'actions sociales destinée aux salariés
        </h2>

        <ul class="manage__list">
          <li class="manage__item">
            <div class="manage__desc">Déterminez les actions à forte valeur d'impact social</div>
          </li>
          <li class="manage__item">
            <div class="manage__desc">Evaluez leur pertinence en termes qualitatifs</div>
          </li>
          <li class="manage__item">
            <div class="manage__desc">
              Répertoriez les actions à impact déjà présentes
              et valorisez-les</div>
          </li>
          <li class="manage__item">
            <div class="manage__desc">
              Démultipliez l’engagement de vos collaborateurs</div>
          </li>
        </ul>

      </div>
      <!-- elem -->
      <div class="manage__graph-wrap">
        <div class="manage__graph">

          <div class="manage__dot">
            <div class="manage__dot-inner">
              <div class="logo manage__logo">
                <a class="logo__link">
                  <img src="images/logo.svg" alt="Phare" class="logo__img" width="84" height="36">
                </a>
              </div>
            </div>
          </div>

          <div class="manage__employeer">
            @@include('./../../components/graphics/employer.html')
          </div>

          <div class="manage__trained">
            @@include('./../../components/graphics/trained.html')
          </div>

          <div class="manage__action-impact">
            @@include('./../../components/graphics/action-impact.html')
          </div>

          <div class="manage__last-month">
            @@include('./../../components/graphics/last-month.html')
          </div>

          <div class="manage__classement-demondes">
            @@include('./../../components/graphics/classement-demondes.html')
          </div>

          <div class="manage__total">
            @@include('./../../components/graphics/total.html')
          </div>

          <div class="manage__action-impact-large">
            @@include('./../../components/graphics/action-impact-large.html')
          </div>





          <!-- <img src="images/hsm-images.png" alt="graph" class="hsm__graph-img"> -->

          <!-- <svg class="hsm__leaves">
          <use xlink:href="images/icons/sprite.svg#leaves"></use>
        </svg>

        <img src="images/woman.png" alt="woman" class="hsm__woman">
        <img src="images/graph1.png" alt="graph" class="hsm__graph1">
        <img src="images/trained_people.png" alt="trained people" class="hsm__trained">
        <img src="images/graph2.png" alt="graph" class="hsm__graph2">
        <img src="images/document.png" alt="graph" class="hsm__document">
        <img src="images/woman2.png" alt="woman1" class="hsm__woman2">

        <svg class="hsm__peoples">
          <use xlink:href="images/icons/sprite.svg#peoples"></use>
        </svg>


        <img src="images/graph3.png" alt="graph" class="hsm__graph3">
        <img src="images/check.svg" alt="check" class="hsm__check">


        <img src="images/graph4.png" alt="graph" class="hsm__graph4">
        <img src="images/man.png" alt="man" class="hsm__man">

        <img src="images/graph5.png" alt="graph" class="hsm__graph5">

        <img src="images/home.svg" alt="home" class="hsm__home"> -->



        </div>
      </div>

    </div>
  </div>
</section>
