<section class="section opinion">
  <div class="container">
    <div class="opinion__wrapper">

      <!-- elem -->
      <div class="opinion__content">
        <h2 class="opinion__title">VOUS NAVIGUEREZ<br>PLUS A VUE</h2>

        <div class="opinion__text">
          <p>
            <span>Le rapport d’impact</span> regroupe les données indispensable et offre une vue d’ensemble de l’action menée par le biais de <span>Phare</span>.
          </p>

          <p>
            <span>
              Plus de 1700 combinaisons de KPI pour votre stratégie de politique sociale.
            </span>
          </p>
          <p>
            Repond au principe de matérialité pour vos D.P.E.F.
          </p>
        </div>

      </div>


      <div class="opinion__images">
        <div class="opinion__kpi-small">
          <img src="images/kpi-small.png" alt="">
        </div>
        <div class="opinion__kpi-large">
          <img src="images/kpi-large.png" alt="">
        </div>

        <div class="opinion__kpi-big">
          <img src="images/kpi-big.png" alt="">
        </div>

        <div class="opinion__report">
          <!-- report -->
          @@include('./../../components/graphics/report.html')
        </div>
      </div>


    </div>
  </div>
</section>
