<section class="section possibilities">
  <div class="container">
    <h2 class="possibilities_title">
      De nouvelles<br> possibilités pour vos RH
    </h2>
  </div>

    <!-- Главный контейнер слайдера -->
    <div class="possibilities-slider swiper">
      <!-- Обязательная оболочка -->
      <div class="possibilities-slider__wrapper swiper-wrapper">
        <!-- Слайды (c хэшом навигации)-->
        <div class="possibilities-slider__slide swiper-slide">
          <!-- Контент внутри слайдера -->
          <div class="possibilities-slider__content">
            <h4 class="possibilities-slider__title">Impact</h4>
            <div class="possibilities-slider__text">
              <p>
                Créez un véritable impact pour vos collaborateurs, améliorez leur qualité de vie et réduisez les risques
                psychosociaux.
              </p>
              <p>Communiquer ces actions aux partenaires dans votre D.P.E.F
              </p>
            </div>
          </div>
        </div>
        <div class="possibilities-slider__slide swiper-slide">
          <!-- Контент внутри слайдера -->
          <div class="possibilities-slider__content">
            <h4 class="possibilities-slider__title">Connaissance</h4>
            <div class="possibilities-slider__text">
              <p>Replacez l’humain au centre,
                cernez les besoins en toute simplicité
                pour être au plus près de vos salariés
              </p>
            </div>
          </div>
        </div>
        <div class="possibilities-slider__slide swiper-slide">
          <!-- Контент внутри слайдера -->
          <div class="possibilities-slider__content">
            <h4 class="possibilities-slider__title">Engagement</h4>
            <div class="possibilities-slider__text">
              <p>Concertez votre statut d’employeur
                engagé et définissez des standards
                solides en matière de RSE
              </p>
            </div>
          </div>
        </div>
        <div class="possibilities-slider__slide swiper-slide">
          <!-- Контент внутри слайдера -->
          <div class="possibilities-slider__content">
            <h4 class="possibilities-slider__title">Cohésion</h4>
            <div class="possibilities-slider__text">
              <p>Favorisez l’entraide entre salariés et les événements pour créer un écosystème bienveillant. Même en
                télé-travail
              </p>
            </div>
          </div>
        </div>
        <div class="possibilities-slider__slide swiper-slide">
          <!-- Контент внутри слайдера -->
          <div class="possibilities-slider__content">
            <h4 class="possibilities-slider__title">Impact</h4>
            <div class="possibilities-slider__text">
              <p>
                Créez un véritable impact pour vos collaborateurs, améliorez leur qualité de vie et réduisez les risques
                psychosociaux.
              </p>
              <p>Communiquer ces actions aux partenaires dans votre D.P.E.F
              </p>
            </div>
          </div>
        </div>
        <div class="possibilities-slider__slide swiper-slide">
          <!-- Контент внутри слайдера -->
          <div class="possibilities-slider__content">
            <h4 class="possibilities-slider__title">Connaissance</h4>
            <div class="possibilities-slider__text">
              <p>Replacez l’humain au centre,
                cernez les besoins en toute simplicité
                pour être au plus près de vos salariés
              </p>
            </div>
          </div>
        </div>
        <div class="possibilities-slider__slide swiper-slide">
          <!-- Контент внутри слайдера -->
          <div class="possibilities-slider__content">
            <h4 class="possibilities-slider__title">Engagement</h4>
            <div class="possibilities-slider__text">
              <p>Concertez votre statut d’employeur
                engagé et définissez des standards
                solides en matière de RSE
              </p>
            </div>
          </div>
        </div>
        <div class="possibilities-slider__slide swiper-slide">
          <!-- Контент внутри слайдера -->
          <div class="possibilities-slider__content">
            <h4 class="possibilities-slider__title">Cohesion</h4>
            <div class="possibilities-slider__text">
              <p>Favorisez l’entraide entre salariés et les évènements pour créer un écosystème bienveillant. Même en
                télé-travail
              </p>
            </div>
          </div>
        </div>

      </div>
      <!-- Добавляем если нам нужна пагинация (параметр pagination)   -->
      <div class="swiper-pagination"></div>

      <!-- Добавляем если нам нужны стрелки управления (параметр navigation)-->
      <!-- <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div> -->

      <!-- Добавляем если нам нужен полоса прокрутки (параметр scrollbar)  -->
      <!-- <div class="swiper-scrollbar"></div> -->
    </div>


</section>
