        <div class="employer">
          <svg class="employer__icon">

            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true"
              focusable="false" style="width:0;height:0;position:absolute;">
              <defs>
                <linearGradient id="paint0_linear_748:1933" x1="8" y1="2.4649" x2="8" y2="14.9649"
                  gradientUnits="userSpaceOnUse">
                  <stop stop-color="#FE6C6C" />
                  <stop offset="1" stop-color="#FE464B" />
                </linearGradient>
              </defs>
            </svg>


            <use xlink:href="images/icons/sprite.svg#cal" fill="url(#paint0_linear_748:1933)"></use>
          </svg>
          <div class="employer__text">
            Employeur engagé
          </div>
        </div>
