<div class="trained">
  <div class="trained__preview">
    <svg class="trained__icon">
      <use xlink:href="images/icons/sprite.svg#clock"></use>
    </svg>
  </div>
  <div class="trained__content">
    <div class="trained__title">
      Personnes formées
    </div>
    <div class="trained__number">
      100
    </div>
    <div class="trained__top">
      <svg class="trained__arrow">
        <use xlink:href="images/icons/sprite.svg#arrow-up"></use>
      </svg>
      <span class="trained__percent">2%</span>
      <div class="trained__text">Depuis le mois dernier</div>
    </div>
  </div>
</div>
