<section class="hero">
  <div class="container">
    <div class="hero__elem">
      <h2 class="hero__title">
        Demandez une<br>démonstration personnalisée
      </h2>
      <p class="hero__desc">Notre équipe sera ravie d'échanger avec vous pour comprendre vos besoins et vous présenter tous les avantages que Phare offre à votre entreprise.</p>
      <ul class="hero__list">
        <li class="hero__item">
          Gagnez du temps avec une solution simple et rapide pour piloter votre capital humain
        </li>
        <li class="hero__item">Déterminez les actions à forte valeur d'impact social</li>
        <li class="hero__item">
          Evaluez leur pertinence en termes qualitatifs
        </li>
        <li class="hero__item">
          Répertoriez les actions à impact déjà présentes
          et valorisez-les
        </li>
        <div class="hero__item">
          Démultipliez l’engagement de vos collaborateurs
        </div>
      </ul>
    </div>

    <div class="hero__elem">
      <div class="hero__tabs tabs">
        <ul class="tabs__list">
          <li class="tabs__item">
            <button class="tabs__btn  tabs__btn--active" data-tabs-path="mon">
              Demandez une démo
            </button>
          </li>
          <li class="tabs__item">
            <button class="tabs__btn" data-tabs-path="lien">
              Appelez-nous
            </button>
          </li>
        </ul>
        <div class="tabs__content-wrap">
          <div class="tabs__content  tabs__content--active" data-tabs-target="mon">
            <div class="content">
                <!-- form -->
                <div class="hero__form form">
                  <form action="#" class="form__elem" id="form-subscription">
                    <div class="form__row">
                      <div class="form__block">
                        <div class="form__block-title">Prénom</div>
                        <input type="hidden" name="formtype" value="demo">
                        <input type="text" class="form__input" placeholder="Arbia" name="firstname">
                        <div class="form__error">Cette case est obligatoire, veuillez-la remplir</div>
                      </div>
                      <div class="form__block">
                        <div class="form__block-title">Nom</div>
                        <input type="text" class="form__input" placeholder="Smiti" name="lastname">
                        <div class="form__error">Cette case est obligatoire, veuillez-la remplir</div>
                      </div>
                    </div>


                    <div class="form__row">
                      <div class="form__block">
                        <div class="form__block-title">Votre email</div>
                        <input type="email" class="form__input" placeholder="example@gmail.com" name="email">
                        <div class="form__error">Cette case est obligatoire, veuillez-la remplir
                        </div>
                      </div>
                    </div>

                    <div class="form__row">
                      <div class="form__block">
                        <div class="form__block-title">Nom de l’entreprise</div>
                        <input type="text" class="form__input" placeholder="ex. : Inalion"
                          name="entreprise">
                        <div class="form__error">Cette case est obligatoire, veuillez-la remplir</div>
                      </div>
                    </div>

                    <div class="form__row">
                      <div class="form__block">
                        <div class="form__block-title">Votre département / Votre poste</div>
                        <input type="text" class="form__input" placeholder="ex. : RH" name="department">
                        <div class="form__error">Cette case est obligatoire, veuillez-la remplir</div>
                      </div>

                      <div class="form__block">
                        <div class="form__block-title">Effectif de votre entreprise</div>
                        <input type="text" class="form__input" placeholder="XX" name="salaries">
                        <div class="form__error">Cette case est obligatoire, veuillez-la remplir</div>
                      </div>
                    </div>



                    <div class="form__row">
                      <div class="form__block">
                        <div class="form__block-title">Téléphone</div>
                        <input type="text" class="form__input tel" placeholder="+ 33 _ - __ - __ - __ - __" name="phone">
                        <div class="form__error">Cette case est obligatoire, veuillez-la remplir</div>
                      </div>
                      <div class="form__block">
                        <div class="form__block-title">Code postal</div>
                        <input type="text" class="form__input" placeholder="30-342" name="code">
                        <div class="form__error">Cette case est obligatoire, veuillez-la remplir</div>
                      </div>
                    </div>

                    <div class="form__row">
                      <div class="form__block">
                        <button class="btn form__btn form__btn--large">Démander une demo</button>
                      </div>

                    </div>


                  </form>
                </div>
                <!-- form -->
            </div>
          </div>
          <div class="tabs__content" data-tabs-target="lien">
            <div class="content">
              <div class="hero__call">
                <h4 class="hero__call-title">
                  Contactez-nous dès maintenant
                </h4>
                <p class="hero__call-text">
                  Une personne de notre équipe est disponible pour échanger en direct avec vous
                </p>
                <a href="tel:0184601005" class="btn hero__call-btn">
                  01 84 60 10 05
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
