<section class="section hsm">
  <div class="container">
    <div class="hsm__wrapper">
      <!-- elem -->
      <div class="hsm__content">
        <div class="hsm__title-wrap">

           <div class="hsm__question"></div>

          <h2 class="hsm__title _anim-items _anim-no-hide">
            <span>LE premiEr</span> HCM<br>
            DE politique sociale<span class="dot">.</span>
          </h2>

        </div>



        <ul class="hsm__list">
          <li class="hsm__item">
            <h3 class="hsm__name">6 thématiques indispensables des actions sociales pour vos collaborateurs</h3>
            <div class="hsm__desc">Famille, Transports, Ecologie, Logement, Aléas de la vie et Vie numérique</div>
            <a href="salaries.html" class="hsm__link">Savoir plus</a>
          </li>
          <li class="hsm__item">
            <h3 class="hsm__name">Les données d’impact anonymes pour votre strategie sociale</h3>
            <div class="hsm__desc">Rapport d’impact, D.P.E.F., ROI des actions</div>
            <a href="entreprises.html" class="hsm__link">Savoir plus</a>
          </li>
          <li class="hsm__item">
            <h3 class="hsm__name">Interaction en temps réel/continu</h3>
            <div class="hsm__desc">Au plus près des attentes de vos salariés, même en télé-travail</div>
            <a href="salaries.html" class="hsm__link">Savoir plus</a>
          </li>
        </ul>

        <button class="btn hsm__btn">Demander une démo</button>
      </div>
      <!-- elem -->
      <div class="hsm__graph-wrap  _anim-items _anim-no-hide">
        <div class="hsm__graph">

          <svg class="layer hsm__leaves">
            <use xlink:href="images/icons/sprite.svg#leaves"></use>
          </svg>

          <svg class="layer hsm__peoples">
            <use xlink:href="images/icons/sprite.svg#peoples"></use>
          </svg>

          <div class="layer hsm__check">
            <img src="images/check.svg" alt="check" class="hsm__check-img">
          </div>

          <div class="layer hsm__home">
            <img src="images/home.svg" alt="check" class="hsm__home-img">
          </div>


          <div class="layer hsm__woman">
            <img src="images/woman.png" alt="woman" class="hsm__woman-img">
          </div>

          <div class="layer hsm__woman2">
            <img src="images/woman2.png" alt="woman" class="hsm__woman2-img">
          </div>


          <div class="layer hsm__man">
            <img src="images/man.png" alt="woman" class="hsm__man-img">
          </div>

          <div class="layer hsm__trained">
            @@include('./../../components/graphics/trained.html')
          </div>

          <div class="layer hsm__classement-demondes">
            <div class="classement-demondes">
              <img src="images/classment1.png" alt="" class="classement-demondes__icon">
            </div>
          </div>

          <div class="layer hsm__report">
            <!-- report -->
            @@include('./../../components/graphics/report.html')
          </div>


          <div class="layer hsm__total">
            @@include('./../../components/graphics/total.html')
          </div>

          <div class="layer hsm__action-impact-large">
            <div class="action-impact-large">
              <img src="images/action-impact-large.svg" alt="" class="action-impact-large__icon">
            </div>
          </div>

          <div class="layer hsm__session">
            @@include('./../../components/graphics/session.html')
          </div>


          <div class="layer hsm__taux">
            @@include('./../../components/graphics/taux.html')
          </div>




          <!--
        <img src="images/graph1.png" alt="graph" class="hsm__graph1">
        <img src="images/trained_people.png" alt="trained people" class="hsm__trained">
        <img src="images/graph2.png" alt="graph" class="hsm__graph2">
        <img src="images/document.png" alt="graph" class="hsm__document">




        <img src="images/graph3.png" alt="graph" class="hsm__graph3">



        <img src="images/graph4.png" alt="graph" class="hsm__graph4">

        <img src="images/graph5.png" alt="graph" class="hsm__graph5">

        -->



        </div>
      </div>

    </div>
  </div>
</section>
