<section class="section measure">
  <div class="container">
    <h2 class="measure__title">Mesurez, valorisez et pilotez</h2>
    <div class="subtitle measure__text">votre politique sociale en quelques clics</div>
    <div class="measure__video video">
      <div class="video__wrap">
        <div class="video__player" id="video__player">
        </div>
        <!-- flex -->
        <div class="video__preview" id="video__preview">
          <div class="video__title">Phare<span class="dot">.</span></div>
          <div class="video__img-wrap">
            <img src="images/imac.png" class="video__img" alt="imac">
          </div>
          <div class="video__btn" id="video__btn">
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

<!-- <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/644759142?h=0da22ba5bc&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Phare"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script> -->
