<section class="section measure">
  <div class="container">
    <h2 class="measure__title">Mesurez, valorisez et pilotez</h2>
    <div class="subtitle measure__text">votre politique sociale en quelques clics</div>
    <div class="measure__video video">
      <div class="video__wrap">
        <!-- flex -->
        <div class="video__preview">
          <div class="video__title">Phare<span class="dot">.</span></div>
          <div class="video__img-wrap">
            <img src="images/imac.png" class="video__img" alt="imac">
          </div>
        </div>
        <div class="video__btn">
        </div>

      </div>
      <div class="video__player"></div>
    </div>
  </div>
</section>
