<section class="section resolution">
  <div class="container">
    <h1 class="resolution__title"><span>révolution</span> pour<br>votre politique sociale<span class="dot">.</span>
    </h1>
    <div class="resolution__text">Prenez soin de votre capital humain</div>
    <div class="resolution__btn-wrap">
      <button class="btn resolution__btn">Essai gratuit</button>
    </div>
    <div class="resolution__scheme scheme">
      <div class="sheme__lines">
        <img src="images/sheme.png" alt="" width="662" height="201">
      </div>
      <ul class="scheme__list">
        <li class="scheme__item">Collaborateurs</li>
        <li class="scheme__item scheme__item--dotted">Phare.</li>
        <li class="scheme__item">RH/Entreprises</li>
      </ul>
    </div>
    <div class="resolution__facts facts">
      <ul class="facts__list">
        <li class="facts__item">
          <span class="facts__accent">50</span>
          <span class="facts__something">entreprises</span>
        </li>
        <li class="facts__item">
          <span class="facts__accent">40.000<span class="facts__more">+</span></span>
          <span class="facts__something">salariés</span>
        </li>
        <li class="facts__item">
          <span class="facts__accent">50</span>
          <span class="facts__something">en France</span>
        </li>
      </ul>
    </div>
  </div>
</section>
