<section class="section resolution">
  <div class="container">
    <h1 class="resolution__title">révolution pour<br>votre politique sociale.</h1>
    <p class="resolution__text">Prenez soin de votre capital humain</p>
    <button class="btn resolution__btn">Essai gratuit</button>
    <div class="resolution__scheme scheme">
      <div class="sheme__lines">
        <img src="images/sheme.png" alt="" width="662" height="201">
      </div>
      <ul class="scheme__list">
        <li class="scheme__item">Collaborateurs</li>
        <li class="scheme__item scheme__item--dotted">Phare.</li>
        <li class="scheme__item">RH/Entreprises</li>
      </ul>
    </div>
  </div>
</section>
