<section class="section technology">
  <div class="container">
    <div class="technology__wrap _anim-items _anim-no-hide">
      <div class="technology__preview">
        <div class="technology__lottie" id="technology__lottie"></div>
        <img src="images/technology-people1.png" alt="woman" class="technology__people technology__people1">
        <img src="images/technology-people2.png" alt="man" class="technology__people technology__people2">
        <img src="images/technology-people3.png" alt="woman" class="technology__people technology__people3">
        <img src="images/technology-people4.png" alt="man" class="technology__people technology__people4">

        <div class="technology__info">
          <div class="technology__info-wrap">
            <div class="techology__info-title">Phare.</div>
            <span class="technology__info-desc">Prenez soin de votre<br>capital humain</span>
          </div>
        </div>
      </div>
    </div>
    <div class="technology__content">
      <h2 class="technology__title">La technologie au service de l’humain</h2>
      <div class="technology__desc-wrap">
        <p class="technology__desc">Phare est le gardien intelligent de vos actions sociales qui révolutionne
          votre
          experience salariée.
        </p>
        <p>
          Décuplez l’engagement et augmentez votre capital humain grâce à une combinaison de plus de 1 700
          facteurs.
        </p>
      </div>
      <div class="subtitle technology__subtitle">découvrir De nouvelles possibilités et bénéfices</div>
      <p>Pour les équipes RH/CSE, ainsi que pour les collaborateurs</p>

      <ul class="technology__links">
        <li class="technology__links-item">
          <a class="technology__links-item-elem" href="entreprises.html">
            <div class="technology__link-title">Entreprise</div>
            <div class="technology__link-text">Savoir plus</div>
          </a>
        </li>
        <li class="technology__links-item">
          <a class="technology__links-item-elem" href="salaries.html">
            <div class="technology__link-title">Salariés</div>
            <div class="technology__link-text">Savoir plus</div>
          </a>
        </li>

      </ul>
    </div>
  </div>
</section>
