<div class="choice">
  <div class="choice__inner">
    <div class="choice__top">
      <div class="choice__title">
        Je veux :
      </div>
    </div>

    <div class="choice__bottom">
      <ul class="choice__list">
        <li class="choice__item">
          <a href="demonstration.html" class="choice__link">
            <div class="choice__img-wrap">
              <img class="choice__img" src="images/choice-phare.svg" alt="phare" width="80" heigth="80">
            </div>
            <h3 class="choice__name">
              Demander une démo Phare
            </h3>
            <div class="choice__desc">
              et la tester gratuitement pendant 1 mois
            </div>
          </a>
        </li>
        <li class="choice__item">
          <a href="subscription.html" class="choice__link">
            <div class="choice__img-wrap">
              <img class="choice__img" src="images/choice-contract.svg" alt="contract" width="80" heigth="80">
            </div>
            <h3 class="choice__name">
              Souscrire le contrat
            </h3>
            <div class="choice__desc">
              et recevoir mon offre personnalisée
            </div>
          </a>
        </li>
      </ul>
      <a href="#" class="choice__contact">Contactez-nous</a>
    </div>
  </div>
</div>
