.manage {
  padding: 90px 0px;

  @include phones {
    padding: 30px 0px;
  }
}

.manage__wrapper {
  display: flex;
  justify-content: space-between;
  column-gap: 68px;

  @include phones {
    flex-direction: column-reverse;
    align-items: center;
  }
}

.manage__content {
  max-width: 50%;

  @include tablets {
    max-width: 50%;
  }

  @include phones {
    max-width: 100%;
    // margin-top: -180px;
  }
}


.manage__title {
  margin-bottom: 40px;

  @include phones {
    margin-bottom: 30px;
  }
}

.manage__list {}

.manage__item {
  position: relative;
  margin-left: 24px;

  @include phones {
    margin-left: 22px;
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    background-image: url("images/rhombus.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    left: -24px;
    top: 8px;
    width: 12px;
    height: 12px;

    @include phones {
      left: -22px;
      width: 9px;
      height: 9px;
    }
  }
}

.manage__item+.manage__item {
  margin-top: 20px;
}

.manage__desc {
  font-size: 20px;

  @include tablets {
    font-size: 18px;
  }

  @include phones {
    font-size: 14px;
  }
}

.manage__graph-wrap {
  position: relative;
  width: 50%;

  @include phones {
    width: 100%;
    margin-bottom: 40px;
  }
}

.manage__graph {
  position: relative;
  // top: -40px;
  // right: 90px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 438px;
  height: 438px;

  @include tablets {
    transform: scale(0.8) translate(-10%, -10%);
    // left: 50%;
  }

  @include phones {
    // transform: scale(0.5) translate(3%, -50%);
    transform: none;
    margin: 0 auto;
    width: 217px;
    height: 217px;
  }
}

.manage__dot {
  position: relative;
  width: 438px;
  height: 438px;
  border: 1.5px solid #fff;
  box-sizing: border-box;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.025);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  @include phones {
    width: 217px;
    height: 217px;
  }

}

.manage__dot-inner {
  width: 218px;
  height: 218px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1.5px solid #fff;
  box-sizing: border-box;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.025);

  @include phones {
    width: 108px;
    height: 108px;
  }
}

.manage__logo.logo {
  width: 118px;
  height: 50px;

  @include phones {
    width: 61px;
    height: 26px;
  }
}

.manage__employeer,
.manage__trained,
.manage__action-impact,
.manage__last-month,
.manage__classement-demondes,
.manage__total,
.manage__action-impact-large {
  display: inline-block;
  position: absolute;
}

.manage__employeer {
  left: 42px;
  top: -7px;

  @include phones {
    left: 22px;
  }
}

.manage__trained {
  left: 191px;
  top: 67px;

  @include phones {
    transform: scale(.5);
    left: 58px;
    top: 17px;
  }
}

.manage__action-impact {
  right: -91px;
  top: 35px;

  @include phones {
    right: -36px;
    top: 15px;
  }
}

.manage__last-month {
  left: 244px;
  bottom: -2px;

  @include phones {
    left: 121px;
  }
}

.manage__classement-demondes {
  left: -60px;
  top: 70px;

  @include phones {
    left: -36px;
    top: 34px;
  }
}

.manage__total {
  right: -88px;
  top: 169px;

  @include phones{
    right: -38px;
    top: 86px;
  }
}

.manage__action-impact-large {
  left: 15px;
  bottom: 44px;

  @include phones {
    left: -8px;
    bottom: 17px;
  }
}
