<section class="section faq-salaries">
  <div class="container">
    <h2 class="faq-salaries__title">Foire aux questions</h2>

    <ul class="faq-salaries__list accordion">
      <li class="accordion__item">
        <button class="accordion__control" aria-expanded="false">
          <span class="accordion__title">
            Mes demandes restent-elles anonymes? (mes données)
          </span>
          <svg class="accordion__icon">
            <use xlink:href="images/icons/sprite.svg#plus"></use>
          </svg>
        </button>
        <div class="accordion__content" aria-hidden="true">
          <p>
            Chaque demande transmise de la part des collaborateurs reste anonyme et répond à l’exigence de la RGPD. Pour
            plus d'informations sur le traitement de vos données personnelles consulter notre <a href="politics.html">Politique de
              confidentialité</a>.
          </p>
        </div>
      </li>
      <li class="accordion__item">
        <button class="accordion__control" aria-expanded="false">
          <span class="accordion__title">Est-ce que le service est gratuit pour moi?
          </span>
          <svg class="accordion__icon">
            <use xlink:href="images/icons/sprite.svg#plus"></use>
          </svg>
        </button>
        <div class="accordion__content" aria-hidden="true">
          <p>
            L’utilisation de la plateforme est entièrement gratuite. Les solutions proposées sont soit gratuites, soit
            exclusivement négociées auprès des partenaires vérifiés/approuvés par Phare
          </p>
        </div>
      </li>
      <li class="accordion__item">
        <button class="accordion__control" aria-expanded="false">
          <span class="accordion__title">Quels sont mes avantages?
          </span>
          <svg class="accordion__icon">
            <use xlink:href="images/icons/sprite.svg#plus"></use>
          </svg>
        </button>
        <div class="accordion__content" aria-hidden="true">
          <p>Votre expérience salariée augmente : vous pouvez désormais réaliser vos projets de vie, être accompagné par
            des experts qualifiés, ceci en quelques clics. Ainsi qu’avoir facilement accès à toute information clé de
            votre entreprise.
          </p>
        </div>
      </li>
      <li class="accordion__item">
        <button class="accordion__control" aria-expanded="false">
          <span class="accordion__title">Puis-je jouer mon rôle dans la politique sociale au sein de mon entreprise?

          </span>
          <svg class="accordion__icon">
            <use xlink:href="images/icons/sprite.svg#plus"></use>
          </svg>
        </button>
        <div class="accordion__content" aria-hidden="true">
          <p>
            Vous pouvez jouer un vrai rôle au sein de l’entreprise en participant aux actions sociales avec d’autres
            collaborateurs : organiser ou participer aux événements, suggérer un service ou aider vos collègues.
          </p>
        </div>
      </li>
      <li class="accordion__item">
        <button class="accordion__control" aria-expanded="false">
          <span class="accordion__title">Ma famille peut-elle bénéficier des solutions?
          </span>
          <svg class="accordion__icon">
            <use xlink:href="images/icons/sprite.svg#plus"></use>
          </svg>
        </button>
        <div class="accordion__content" aria-hidden="true">
          <p>
            Votre famille, au sens du foyer fiscal, peut aussi profiter des solutions proposées par Phare sur 6
            thématiques : famille, logement, écologie, transport, vie numérique et aléas de la vie.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
