<div class="flourish">

</div>
<section class="section flourish">
  <div class="container">
    <h2 class="flourish__title">
      <div class="dot">...</div> Pour s’épanouir au travail
    </h2>


    <div class="flourish__tabs tabs">
      <ul class="tabs__list">
        <li class="tabs__item">
          <button class="tabs__btn" data-tabs-path="mon">
            Mon entreprise
          </button>
        </li>
        <li class="tabs__item">
          <button class="tabs__btn  tabs__btn--active" data-tabs-path="lien">
            Lien social
          </button>
        </li>
        <li class="tabs__item">
          <button class="tabs__btn" data-tabs-path="bien">
            Bien-être
          </button>
        </li>
        <li class="tabs__item">
          <button class="tabs__btn" data-tabs-path="formation">
            Formation
          </button>
        </li>
      </ul>
      <div class="tabs__content" data-tabs-target="mon">
        <div class="content">
          Disposez de toute l’information essentielle et obligatoire.
          Et restez informé des action sociales de mon entreprise,
          meme en télé-travail
        </div>
      </div>
      <div class="tabs__content tabs__content--active" data-tabs-target="lien">
        <div class="content">
          Vous pouvez etre à l’initiative du lien social, au sein de votre entreprise, ceci est meme essentiel.Aidez, donnez et
          invitez vos collegues pour décupler un climat de confiance
        </div>
      </div>
      <div class="tabs__content" data-tabs-target="bien">
        <div class="content">
          L’épanouissement de chaque salarié est important,
          retrouvez les ressources essentielles pour l’équilibre entre vie personnelle et profesionnelle
        </div>
      </div>
      <div class="tabs__content" data-tabs-target="formation">
        <div class="content">
          Manifestez les demandes d’interet pour le transfert des compétences sur les thématiques clés
          liées à vos préoccupations.
        </div>
      </div>
    </div>


  </div>

</section>
