<section class="section freedom">
  <div class="container">
    <h2 class="freedom__title">
      Soyez libéré du poids de<br>vos préoccupations <div class="dot">...</div>
    </h2>
    <div class="freedom__desc">
      pour le meilleure équilibre entre vie personnelle et professionnelle
    </div>

    <div class="freefom__content">


      <!-- <div class="freedom__lines">
        <picture>
          <source srcset="images/lines-freedom-mob.svg" media="(max-width: 768px)">
          <img class="freedom__img" src="images/lines-freedom.svg" alt="">
        </picture>
      </div> -->

      <div class="freedom__circle">
        Phare<div class="dot">.</div>
      </div>

      <div class="freedom__block  freedom__block--famille">
        <div class="freedom__block-inner">
          <div class="freedom__block-text">Famille</div>
          <div class="freedom__block-pic">
            <img src="images/famille.svg" alt="" class="freedom__block-img">
          </div>
        </div>
      </div>

      <div class="freedom__block  freedom__block--transport">

        <div class="freedom__block-inner">
          <div class="freedom__block-text">Transport</div>
          <div class="freedom__block-pic">
            <img src="images/transport.svg" alt="" class="freedom__block-img">
          </div>
        </div>

      </div>

      <div class="freedom__block  freedom__block--aleas">
        <div class="freedom__block-inner">
          <div class="freedom__block-text">Aléas de la vie</div>
          <div class="freedom__block-pic">
            <img src="images/aleas.svg" alt="" class="freedom__block-img">
          </div>
        </div>
      </div>

      <div class="freedom__block freedom__block--reverse  freedom__block--ecologie">
        <div class="freedom__block-inner">
          <div class="freedom__block-text">Ecologie</div>
          <div class="freedom__block-pic">
            <img src="images/ecologie.svg" alt="" class="freedom__block-img">
          </div>
        </div>
      </div>

      <div class="freedom__block freedom__block--reverse  freedom__block--logement">
        <div class="freedom__block-inner">
          <div class="freedom__block-text">Logement</div>
          <div class="freedom__block-pic">
            <img src="images/logement.svg" alt="" class="freedom__block-img">
          </div>
        </div>
      </div>

      <div class="freedom__block freedom__block--reverse  freedom__block--vie">
        <div class="freedom__block-inner">
          <div class="freedom__block-text">Vie numérique</div>
          <div class="freedom__block-pic">
            <img src="images/vie.svg" alt="" class="freedom__block-img">
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
