<section class="section possibilities">
  <div class="container">
    <h2 class="possibilities_title">
      Expérience salariée augmentée
    </h2>
  </div>

  <!-- Главный контейнер слайдера -->
  <div class="possibilities-slider swiper">
    <!-- Обязательная оболочка -->
    <div class="possibilities-slider__wrapper swiper-wrapper">
      <!-- Слайды (c хэшом навигации)-->
      <div class="possibilities-slider__slide swiper-slide">
        <!-- Контент внутри слайдера -->
        <div class="possibilities-slider__content">
          <h4 class="possibilities-slider__title">Qualité de vie</h4>
          <div class="possibilities-slider__text">
            <p>La réalisation de vos projets de vie et
              de toutes les demandes importantes
              en quelques clics
            </p>
          </div>
        </div>
      </div>
      <div class="possibilities-slider__slide swiper-slide">
        <!-- Контент внутри слайдера -->
        <div class="possibilities-slider__content">
          <h4 class="possibilities-slider__title">Accompagnement</h4>
          <div class="possibilities-slider__text">
            <p>Accompagnement individuel complet jusqu’à l’aboutissement du projet.</p>
            <p>Des experts qualifiés sur différentes thématiques clés</p>
          </div>
        </div>
      </div>
      <div class="possibilities-slider__slide swiper-slide">
        <!-- Контент внутри слайдера -->
        <div class="possibilities-slider__content">
          <h4 class="possibilities-slider__title">Bien-être</h4>
          <div class="possibilities-slider__text">
            <p>
              Sérénité au travail du fait de l’accompagnement extra-pro dont vous bénéficiez
            </p>
          </div>
        </div>
      </div>
      <div class="possibilities-slider__slide swiper-slide">
        <!-- Контент внутри слайдера -->
        <div class="possibilities-slider__content">
          <h4 class="possibilities-slider__title">Simplicité</h4>
          <div class="possibilities-slider__text">
            <p>Accès à des centaines de possibilité d’accompagnement extra-professionnel et un conseil complet en quelques clics
            </p>
          </div>
        </div>
      </div>
      <div class="possibilities-slider__slide swiper-slide">
        <!-- Контент внутри слайдера -->
        <div class="possibilities-slider__content">
          <h4 class="possibilities-slider__title">Accessibilité</h4>
          <div class="possibilities-slider__text">
            <p>Bénéficiez des informations clés
              et rester en lien avec votre entreprise, même en télé travail
            </p>
          </div>
        </div>
      </div>
      <div class="possibilities-slider__slide swiper-slide">
        <!-- Контент внутри слайдера -->
        <div class="possibilities-slider__content">
          <h4 class="possibilities-slider__title">Lien social</h4>
          <div class="possibilities-slider__text">
            <p>Participez aux actions sociales entre d’autres collaborateurs comme vous
            </p>
          </div>
        </div>
      </div>

    </div>
    <!-- Добавляем если нам нужна пагинация (параметр pagination)   -->
    <div class="swiper-pagination"></div>

    <!-- Добавляем если нам нужны стрелки управления (параметр navigation)-->
    <!-- <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div> -->

    <!-- Добавляем если нам нужен полоса прокрутки (параметр scrollbar)  -->
    <!-- <div class="swiper-scrollbar"></div> -->
  </div>


</section>
