<section class="promote">
  <div class="container">

    <!-- Главный контейнер слайдера -->
    <div class="promote-slider swiper">
      <!-- Обязательная оболочка -->
      <div class="promote-slider__wrapper swiper-wrapper">
        <!-- Слайды (c хэшом навигации)-->
        <div class="promote-slider__slide  swiper-slide">
          <!-- Контент внутри слайдера -->
          <div class="promote-slider__content">
            <div class="promote-slider__left">
              <div class="promote-slider__title">Agissez</div>
              <div class="promote-slider__desc">Contribuez au développement de l’entreprise en participant aux événement
                d’impact et en suggérant les besoins</div>
              <div class="promote-slider__controls">

                <div class="promote-slider__nav">


                  <div class="promote-slider__button promote-slider__button-prev">
                    <svg class="promote-slider__icon">
                      <use xlink:href="images/icons/sprite.svg#arrow-left-promote"></use>
                    </svg>
                  </div>

                  <div class="promote-slider__pagination"></div>

                  <div class="promote-slider__button promote-slider__button-next">
                    <svg class="promote-slider__icon">
                      <use xlink:href="images/icons/sprite.svg#arrow-right-promote"></use>
                    </svg>
                  </div>

                </div>



              </div>
            </div>
            <div class="promote-slider__right" id="promote-lottie1">
            </div>
          </div>
        </div>
        <!-- Слайды (c хэшом навигации)-->
        <div class="promote-slider__slide  swiper-slide">
          <!-- Контент внутри слайдера -->
          <div class="promote-slider__content">
            <div class="promote-slider__left">
              <div class="promote-slider__title">Intéragissez</div>
              <div class="promote-slider__desc">Contribuez au développement de l’entreprise en participant aux événement
                d’impact et en suggérant les besoins</div>
              <div class="promote-slider__controls">

                <div class="promote-slider__nav">


                  <div class="promote-slider__button promote-slider__button-prev">
                    <svg class="promote-slider__icon">
                      <use xlink:href="images/icons/sprite.svg#arrow-left-promote"></use>
                    </svg>
                  </div>

                  <div class="promote-slider__pagination"></div>

                  <div class="promote-slider__button promote-slider__button-next">
                    <svg class="promote-slider__icon">
                      <use xlink:href="images/icons/sprite.svg#arrow-right-promote"></use>
                    </svg>
                  </div>

                </div>



              </div>
            </div>
            <div class="promote-slider__right" id="promote-lottie2">
            </div>
          </div>
        </div>
        <!-- Слайды (c хэшом навигации)-->
        <div class="promote-slider__slide  swiper-slide">
          <!-- Контент внутри слайдера -->
          <div class="promote-slider__content">
            <div class="promote-slider__left">
              <div class="promote-slider__title">Bénéficiez</div>
              <div class="promote-slider__desc">En temps réel/continu et recevez la réponse complète adaptée à votre
                sollicitation</div>
              <div class="promote-slider__controls">

                <div class="promote-slider__nav">


                  <div class="promote-slider__button promote-slider__button-prev">
                    <svg class="promote-slider__icon">
                      <use xlink:href="images/icons/sprite.svg#arrow-left-promote"></use>
                    </svg>
                  </div>

                  <div class="promote-slider__pagination"></div>

                  <div class="promote-slider__button promote-slider__button-next">
                    <svg class="promote-slider__icon">
                      <use xlink:href="images/icons/sprite.svg#arrow-right-promote"></use>
                    </svg>
                  </div>

                </div>



              </div>
            </div>
            <div class="promote-slider__right" id="promote-lottie3">
            </div>
          </div>
        </div>
        <!-- Слайды (c хэшом навигации)-->
        <div class="promote-slider__slide  swiper-slide">
          <!-- Контент внутри слайдера -->
          <div class="promote-slider__content">
            <div class="promote-slider__left">
              <div class="promote-slider__title">Créez du lien</div>
              <div class="promote-slider__desc">Contribuez au développement de l’entreprise et tissez le lien social
                entre d’autres collaborateurs</div>
              <div class="promote-slider__controls">

                <div class="promote-slider__nav">


                  <div class="promote-slider__button promote-slider__button-prev">
                    <svg class="promote-slider__icon">
                      <use xlink:href="images/icons/sprite.svg#arrow-left-promote"></use>
                    </svg>
                  </div>

                  <div class="promote-slider__pagination"></div>

                  <div class="promote-slider__button promote-slider__button-next">
                    <svg class="promote-slider__icon">
                      <use xlink:href="images/icons/sprite.svg#arrow-right-promote"></use>
                    </svg>
                  </div>

                </div>



              </div>
            </div>
            <div class="promote-slider__right" id="promote-lottie4">
            </div>
          </div>
        </div>
      </div>






      <!-- <div class="promote-slider__nav">
          <!-- Добавляем если нам нужна пагинация (параметр pagination)   -
          <div class="swiper-pagination"></div>

          <!-- Добавляем если нам нужны стрелки управления (параметр navigation)--
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
      </div> -->

    </div>


  </div>
</section>
