<section class="ribbon">


      <!-- Главный контейнер слайдера -->
      <div class="ribbon-slider swiper">
        <!-- Обязательная оболочка -->
        <div class="ribbon-slider__wrapper swiper-wrapper">
          <!-- Слайды (c хэшом навигации)-->
          <div class="ribbon-slider__slide swiper-slide">
            <!-- Контент внутри слайдера -->
            <div class="ribbon-slider__content">
              Démarches
            </div>
          </div>
          <!-- Слайды (c хэшом навигации)-->
          <div class="ribbon-slider__slide swiper-slide">
            <!-- Контент внутри слайдера -->
            <div class="ribbon-slider__content">
              Sécurité individuelle
            </div>
          </div>
          <!-- Слайды (c хэшом навигации)-->
          <div class="ribbon-slider__slide swiper-slide">
            <!-- Контент внутри слайдера -->
            <div class="ribbon-slider__content">
              Protection des données
            </div>
          </div>
          <!-- Слайды (c хэшом навигации)-->
          <div class="ribbon-slider__slide swiper-slide">
            <!-- Контент внутри слайдера -->
            <div class="ribbon-slider__content">
              Mariage
            </div>
          </div>
          <!-- Слайды (c хэшом навигации)-->
          <div class="ribbon-slider__slide swiper-slide">
            <!-- Контент внутри слайдера -->
            <div class="ribbon-slider__content">
              Surendettement
            </div>
          </div>
          <!-- Слайды (c хэшом навигации)-->
          <div class="ribbon-slider__slide swiper-slide">
            <!-- Контент внутри слайдера -->
            <div class="ribbon-slider__content">
              Sécurité numérique
            </div>
          </div>
          <!-- Слайды (c хэшом навигации)-->
          <div class="ribbon-slider__slide swiper-slide">
            <!-- Контент внутри слайдера -->
            <div class="ribbon-slider__content">
              Aides au logement
            </div>
          </div>
          <!-- Слайды (c хэшом навигации)-->
          <div class="ribbon-slider__slide swiper-slide">
            <!-- Контент внутри слайдера -->
            <div class="ribbon-slider__content">
              Mobilité verte
            </div>
          </div>

        </div>
        <!-- Добавляем если нам нужна пагинация (параметр pagination)   -->
        <div class="swiper-pagination"></div>

        <!-- Добавляем если нам нужны стрелки управления (параметр navigation)-->
        <!-- <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div> -->

        <!-- Добавляем если нам нужен полоса прокрутки (параметр scrollbar)  -->
        <!-- <div class="swiper-scrollbar"></div> -->
      </div>
</section>
