<section class="section staff">
  <div class="container">
    <div class="staff__content">
      <h1 class="staff__title">Personnel<div class="dot">.</div><br> Anonyme<div class="dot">.</div><br>Intelligent<div class="dot">.</div></h1>
      <div class="staff__desc">Interlocuteur dédié à votre entreprise</div>
      <div class="staff__info">
        <p>Pour tous les grands domaines de la vie,<br>Car vous meritez d’etre informé, conseillé et accompagné</p>
      </div>
      <button class="btn staff__btn">Recommander Phare</button>
    </div>

    <div class="staff__devices">
      <img src="images/staff-macbook.png" alt="macbook" class="staff__macbook" width="810" height="496">

      <div class="staff__phone" id="staff-phone"></div>

      <!-- <img src="images/staff-phone.png" alt="phone" class="staff__phone" width="222" height="406">
      <img src="images/staff-people.png" alt="woman" class="staff__people" width="66" height="66"> -->
      <!-- filter: drop-shadow(0px 16.7363px 44.63px rgba(55, 68, 131, 0.2)); -->

      <!-- <div class="staff__dialog">
        <div class="staff__dialog-content">
          <div class="staff__dialog-top">Problème</div>
          <div class="staff__dialog-bottom">Résolue</div>
        </div>
        <div class="staff__dialog-icon">
          <img src="images/staff-check.svg" alt="check icon">
        </div>
      </div> -->

    </div>
  </div>
</section>
