<footer class="footer">
  <div class="container">

    <div class="footer__top">

      <div class="footer__company">

        <div class="footer__info">
          <div class="logo footer__logo">
            <a class="logo__link">
              <img src="images/logo.svg" alt="Phare" class="logo__img" width="84" height="36">
            </a>
          </div>
          <div class="footer__text">Prenez soin de votre capital humain</div>
        </div>

        <div class="footer__mission">
          <div class="footer__mission-preview">Entreprise à<br>mission</div>
          <div class="footer__mission-text">
            Loi Pacte, Article 176
          </div>
        </div>

      </div>

      <nav class="footer__menu">
        <ul class="footer__menu-list ">
          <li class="footer__menu-item">
            <div class="footer__menu-title">Solution</div>
            <div class="footer__menu-links">
              <a href="entreprises.html" class="footer__menu-link">Pour les entreprises</a>
              <a href="salaries.html" class="footer__menu-link">Pour les salariés</a>
            </div>
          </li>

          <li class="footer__menu-item">
            <div class="footer__menu-title">A propos</div>
            <div class="footer__menu-links">
              <a href="why-phare.html" class="footer__menu-link">Pourquoi Phare</a>
              <a href="#" class="footer__menu-link">Blog</a>
              <a href="#" class="footer__menu-link">Nous rejoindre</a>
            </div>
          </li>

          <li class="footer__menu-item">
            <div class="footer__menu-title">Données et <br class="br-phones">confidentialité</div>
            <div class="footer__menu-links">
              <a href="#" class="footer__menu-link">Politique de confidentialité</a>
              <a href="#" class="footer__menu-link">Politique des cookies</a>
              <a href="#" class="footer__menu-link">Mentions legales</a>
            </div>
          </li>


        </ul>
      </nav>


      <div class="footer__socials socials">
        <ul class="socials__list">
          <li class="socials__item">
            <a href="#" target="blank" class="socials__link" title="">
              <svg class="socials__img">
                <use xlink:href="images/icons/sprite.svg#twitter"></use>
              </svg>
            </a>
          </li>
          <li class="socials__item">
            <a href="#" target="blank" class="socials__link" title="">
              <svg class="socials__img">
                <use xlink:href="images/icons/sprite.svg#linkedin"></use>
              </svg>
            </a>
          </li>
          <li class="socials__item">
            <a href="#" target="blank" class="socials__link" title="">
              <svg class="socials__img">
                <use xlink:href="images/icons/sprite.svg#facebook"></use>
              </svg>
            </a>
          </li>
          <li class="socials__item">
            <a href="#" target="blank" class="socials__link" title="">
              <svg class="socials__img">
                <use xlink:href="images/icons/sprite.svg#youtube"></use>
              </svg>
            </a>
          </li>
          <li class="socials__item">
            <a href="#" target="blank" class="socials__link" title="">
              <svg class="socials__img">
                <use xlink:href="images/icons/sprite.svg#instagram"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>


    </div>

    <div class="footer__bottom">
      <div class="footer__copyright">
        Copyright @ 2021
      </div>
      <a href="#" class="footer__support">
        Centre dé support
      </a>
    </div>


  </div>
  <div id="cookie"></div>
</footer>
