<footer class="footer">
  <div class="container">

    <div class="footer__top">

      <div class="footer__company">

        <div class="footer__info">
          <div class="logo footer__logo">
            <a class="logo__link">
              <img src="images/logo.svg" alt="Phare" class="logo__img" width="84" height="36">
            </a>
          </div>
          <div class="footer__text">Prenez soin de votre capital humain</div>
        </div>

        <div class="footer__mission">
          <div class="footer__mission-preview">Entreprise à<br>mission</div>
          <div class="footer__mission-text">
            Loi Pacte, Article 176
          </div>
        </div>

      </div>

      <nav class="footer__menu">
        <ul class="footer__menu-list ">
          <li class="footer__menu-item">
            <div class="footer__menu-title">Solution</div>
            <div class="footer__menu-links">
              <a href="entreprises.html" class="footer__menu-link">Pour les entreprises</a>
              <a href="salaries.html" class="footer__menu-link">Pour les salariés</a>
            </div>
          </li>

          <li class="footer__menu-item">
            <div class="footer__menu-title">A propos</div>
            <div class="footer__menu-links">
              <a href="why-phare.html" class="footer__menu-link">Pourquoi Phare</a>
            </div>
          </li>

          <li class="footer__menu-item">
            <div class="footer__menu-title">Données et <br class="br-phones">confidentialité</div>
            <div class="footer__menu-links">
              <a href="politics.html" class="footer__menu-link">Politique de confidentialité</a>
              <a href="politics-cookies.html" class="footer__menu-link">Politique des cookies</a>
              <a href="#" class="footer__menu-link">Mentions legales</a>
            </div>
          </li>


        </ul>
      </nav>


      <div class="footer__socials socials">
        <ul class="socials__list">
          <li class="socials__item">
            <a href="#" target="blank" class="socials__link socials__link--twitter" title="">
            </a>
          </li>
          <li class="socials__item">
            <a href="#" target="blank" class="socials__link socials__link--linkedin" title="">
            </a>
          </li>
          <li class="socials__item">
            <a href="#" target="blank" class="socials__link socials__link--facebook" title="">
            </a>
          </li>
          <li class="socials__item">
            <a href="#" target="blank" class="socials__link socials__link--youtube" title="">
            </a>
          </li>
          <li class="socials__item">
            <a href="#" target="blank" class="socials__link socials__link--instagram" title="">
            </a>
          </li>
        </ul>
      </div>


    </div>

    <div class="footer__bottom">
      <div class="footer__copyright">
        Copyright @ 2021
      </div>
      <a href="#" id="support" class="footer__support">
        Centre de support
      </a>
    </div>


  </div>
</footer>

<div class="modal" id="modal-support">

  <div class="modal__content">
    <div class="modal__close">
      <img src="images/close-icon.svg" alt="close button">
    </div>

    <div class="modal__info">
      <h4 class="modal__title">Contactez-nous dès maintenant</h4>
      <div class="modal__text">
          Une personne de notre équipe est disponible pour
          échanger en direct avec vous
      </div>
      <a href="tel:0184601005" class="btn modal__btn">01 84 60 10 05</a>
    </div>


  </div>
</div>
<script src="https://player.vimeo.com/api/player.js"></script>
