<header class="header">
  <div class="container">
    <!-- logo -->
    <div class="logo">
      <a href="/" class="logo__link">
        <img src="images/logo.svg" alt="Phare" class="logo__img" width="84" height="36">
      </a>
    </div>

    <!-- menu -->
    <nav class="menu">

      <button class="menu__toggle">
        скрыть меню
        <span></span>
      </button>

      <div class="menu__dropdown">
        <ul class="menu__list">
          <li class="menu__item">
            <!-- menu__item--active -->
            <a href="entreprises.html" class="menu__link">Entreprises</a>
          </li>
          <li class="menu__item">
            <a href="salaries.html" class="menu__link">Salariés</a>
          </li>
          <li class="menu__item">
            <a href="pourquoi_phare.html" class="menu__link">Pourquoi Phare</a>
          </li>
        </ul>

        <div class="menu__socials socials">
          <ul class="socials__list">
            <li class="socials__item">
              <a href="#" target="blank" class="socials__link" title="">
                <svg class="socials__img">
                  <use xlink:href="images/icons/sprite.svg#twitter"></use>
                </svg>
              </a>
            </li>
            <li class="socials__item">
              <a href="#" target="blank" class="socials__link" title="">
                <svg class="socials__img">
                  <use xlink:href="images/icons/sprite.svg#linkedin"></use>
                </svg>
              </a>
            </li>
            <li class="socials__item">
              <a href="#" target="blank" class="socials__link" title="">
                <svg class="socials__img">
                  <use xlink:href="images/icons/sprite.svg#facebook"></use>
                </svg>
              </a>
            </li>
            <li class="socials__item">
              <a href="#" target="blank" class="socials__link" title="">
                <svg class="socials__img">
                  <use xlink:href="images/icons/sprite.svg#youtube"></use>
                </svg>
              </a>
            </li>
            <li class="socials__item">
              <a href="#" target="blank" class="socials__link" title="">
                <svg class="socials__img">
                  <use xlink:href="images/icons/sprite.svg#instagram"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>

        <div class="menu__btns">
          <button class="btn menu__btn menu__btn--bordered">Découvrir</button>
          <button class="btn menu__btn">Se connecter</button>
        </div>


      </div>

    </nav>





  </div>
</header>
