.hsm {
  padding: 90px 0px;

  @include phones {
    padding: 30px 0px;
  }
}

.hsm__wrapper {
  display: flex;
  justify-content: space-between;
  column-gap: 82px;

  @include phones {
    flex-direction: column-reverse;
    align-items: center;
  }
}

.hsm__content {
  max-width: 50%;

  @include tablets {
    max-width: 50%;
  }

  @include phones {
    max-width: 100%;
    // margin-top: -180px;
  }
}

.hsm__title-wrap {
  position: relative;
  margin-bottom: 50px;

  @include phones {
    margin-bottom: 26px;
  }
}

.hsm__question {
  position: absolute;
  background-image: url("images/question.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  left: 340px;
  top: 20px;
  width: 16px;
  height: 16px;
  cursor: pointer;
  transition: background-image .3s;

  &:hover {
    background-image: url("images/question-hover.svg");

    &::before {
      opacity: 1;
    }
  }

  &::before {
    content: "Gestion du capital humain";
    white-space: nowrap;
    display: inline-block;
    position: absolute;
    background-color: $black;
    color: #fff;
    font-size: 10px;
    padding: 2px 6px;
    border-radius: 2px;
    left: 24px;
    opacity: 0;
    transition: opacity .3s;

    @include phones {
      left: 0;
      top: -25px;
    }
  }

  @include tablets {
    left: 253px;
    top: 13px;
  }

  @include phones {
    left: 169px;
    top: 7px;
    width: 13px;
    height: 13px;
  }

}


.hsm__title {
  position: relative;
  pointer-events: none;

  & span:first-child {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 5px;
      display: block;
      height: 3px;
      background-color: $blue;

      @include phones {
        height: 1.5px;
        bottom: 1px;
      }
    }
  }
}

.hsm__list {
  margin-bottom: 45px;

  @include phones {
    margin-bottom: 55px;
  }
}

.hsm__item {
  position: relative;
  max-width: 355px;
  margin-left: 30px;

  @include phones {
    margin-left: 23px;
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    background-image: url("images/rhombus.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    left: -21px;
    top: 10px;
    width: 9px;
    height: 9px;

  }
}

.hsm__item+.hsm__item {
  margin-top: 27px;

  @include phones {
    margin-top: 23px;
  }
}

.hsm__name {
  margin-bottom: 13px;

  @include phones {
    margin-bottom: 10px;
  }
}

.hsm__desc {
  margin-bottom: 15px;
  font-size: 14px;

  @include phones {
    margin-bottom: 13px;
  }
}

.hsm__link {
  @include jost(medium);
  color: $blue;
  font-size: 14px;
  transform: translateX(0);

  &:hover {
    &::after {
      transform: translateX(5px);
    }
  }

  &::after {
    transition: all 1s ease;
    content: "";
    display: inline-block;
    margin-left: 5px;
    background-image: url("images/arrow-right.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 10px;
    height: 8px;
  }
}

.hsm__btn {
  @include jost();
  display: inline-block;

  @include phones {
    width: 100%;
  }
}

.hsm__graph-wrap {
  position: relative;
  width: 50%;

  @include phones {
    width: 100%;
    margin-bottom: 40px;
  }
}

.hsm__graph {
  position: relative;
  // background-color: #cecece;
  // top: -40px;
  // right: 90px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 580px;
  height: 705px;

  @include tablets {
    transform: scale(0.8) translate(-10%, -10%);
    // left: 50%;
  }

  @include phones {
    // transform: scale(0.5) translate(3%, -50%);
    transform: none;
    margin: 0 auto 20px;
    width: 280px;
    height: 342px;
  }
}

.hsm__leaves,
.hsm__peoples,
.hsm__check,
.hsm__home,
.hsm__woman,
.hsm__woman2,
.hsm__man,
.hsm__trained,
.hsm__classement-demondes,
.hsm__report,
.hsm__total,
.hsm__action-impact-large,
.hsm__session,
.hsm__taux {
  transition: all 2s ease;
  position: absolute;
  display: inline-block;
  opacity: 0;
}


.hsm__leaves,
.hsm__peoples {
  fill: $icons-color;
  width: 65px;
  height: 65px;

  @include phones {
    width: 31px;
    height: 31px;
  }
}

.hsm__check,
.hsm__home {
  width: 65px;
  height: 65px;

  @include phones {
    width: 31px;
    height: 31px;
  }
}

.hsm__check-img,
.hsm__home-img {
  width: 65px;
  height: 65px;

  @include phones {
    width: 31px;
    height: 31px;
  }
}


.hsm__woman,
.hsm__woman2,
.hsm__man {
  width: 55px;
  height: 55px;

  @include phones {
    width: 27px;
    height: 27px;
  }
}

.hsm__woman-img,
.hsm__woman2-img,
.hsm__man-img {
  width: 55px;
  height: 55px;

  @include phones {
    width: 27px;
    height: 27px;
  }
}

.hsm__leaves {
  left: 36px;
  top: 22px;

  @include phones {
    left: 16px;
    top: 12px;
  }
}

.hsm__peoples {
  left: 206px;
  top: 332px;

  @include phones {
    left: 99px;
    top: 159px;
  }
}

.hsm__check {
  left: -41px;
  top: 462px;

  @include phones {
    left: -19px;
    top: 222px;
  }
}

.hsm__home {
  left: 386px;
  top: 568px;

  @include phones {
    left: 187px;
    top: 274px;
  }

}

.hsm__woman {
  left: 136px;
  top: 28px;

  @include phones {
    left: 65px;
    top: 13px;
  }

}

.hsm__woman2 {
  left: 466px;
  top: 218px;

  @include phones {
    left: 223px;
    top: 105px;
  }

}

.hsm__man {
  left: 156px;
  top: 566px;

  @include phones {
    left: 73px;
    top: 273px;
  }

}

.hsm__trained {
  left: 40px;
  top: 116px;

  @include phones {
    transform: scale(.5);
    left: -20px;
    top: 42px;
  }

}

.hsm__classement-demondes {
  left: 5px;
  top: 216px;

  @include phones {
    left: 0px;
    top: 100px;
  }

}


.hsm__report {
  left: 207px;
  top: 206px;

  @include phones {
    left: 61px;
    top: 87px;
    transform: scale(.5);
  }

}

.hsm__total {
  left: 307px;
  top: 316px;

  @include phones {
    left: 149px;
    top: 156px;
  }

}

.hsm__action-impact-large {
  left: 69px;
  top: 452px;

  @include phones {
    left: 23px;
    top: 216px;
  }

}

.hsm__session {
  left: 228px;
  top: 0;

  @include phones {
    width: 171px;
    height: 83px;
    left: 110px;
    top: 0;
  }
}

.hsm__taux {
  left: 235px;
  top: 574px;

  @include phones {
    width: 57px;
    height: 63px;
    left: 114px;
    top: 278px;
  }
}



  .hsm__title._active {
    & span:first-child {
      &::after {
        animation: line 2s forwards cubic-bezier(.47, -0.36, .67, 1.27);
      }
    }
  }


  .hsm__graph-wrap._active{
  .hsm__session {
    animation: show 1s 1s forwards cubic-bezier(.47, -0.36, .67, 1.27);
  }

  .hsm__woman {
    animation: show 1s 1.5s forwards cubic-bezier(.47, -0.36, .67, 1.27);
  }

  .hsm__trained {
    animation: show 1s 2s forwards cubic-bezier(.47, -0.36, .67, 1.27);
  }

  .hsm__leaves {
    animation: show 1s 2s forwards cubic-bezier(.47, -0.36, .67, 1.27);
  }

  .hsm__report {
    animation: show 1s 2.5s forwards cubic-bezier(.47, -0.36, .67, 1.27);
  }

  .hsm__woman2 {
    animation: show 1s 3s forwards cubic-bezier(.47, -0.36, .67, 1.27);
  }

  .hsm__classement-demondes {
    animation: show 1s 3s forwards cubic-bezier(.47, -0.36, .67, 1.27);
  }

  .hsm__total {
    animation: show 1s 3.5s forwards cubic-bezier(.47, -0.36, .67, 1.27);
  }

  .hsm__action-impact-large {
    animation: show 1s 4s forwards cubic-bezier(.47, -0.36, .67, 1.27);
  }

  .hsm__peoples {
    animation: show 1s 4s forwards cubic-bezier(.47, -0.36, .67, 1.27);
  }

  .hsm__man {
    animation: show 1s 4.5s forwards cubic-bezier(.47, -0.36, .67, 1.27);
  }

  .hsm__check {
    animation: show 1s 5s forwards cubic-bezier(.47, -0.36, .67, 1.27);
  }

  .hsm__taux {
    animation: show 1s 5s forwards cubic-bezier(.47, -0.36, .67, 1.27);
  }

  .hsm__home {
    animation: show 1s 6s forwards cubic-bezier(.47, -0.36, .67, 1.27);
  }

}
