.resolution{
  padding: 200px 0 90px;
  text-align: center;

  @include phones {
    padding-bottom: 30px;
  }

  & .container {
    display: flex;
    flex-direction: column;
  }
}
.resolution__title {
  margin-top: 10px;
  margin-bottom: 22px;

  @include phones {
    margin-top: 0;
    margin-bottom: 10px;
  }

  & span:first-child{
    position: relative;
    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      display: block;
      width: 100%;
      height: 3px;
      background-color: $blue;
      animation: line 2s cubic-bezier(.47, -0.36, .67, 1.27);
      @include phones {
        height: 1.5px;
      }
    }
  }


}

.resolution__text{
  margin-bottom: 29px;

  @include phones {
    margin-bottom: 20px;
  }
}

.resolution__btn-wrap{
  margin-bottom: 140px;

  @include phones {
    margin-bottom: 40px;
  }
}

.resolution__scheme {
  margin-bottom: 125px;

  @include phones {
    order: -1;
    margin-bottom: 40px;
  }
}

.resolution__facts {

}
