<section class="why">
  <div class="container">
    <div class="why__img">
      <img src="images/why-img1.png" class="why__img-elem" alt="" width="1200" >
      <!-- height="784px" -->
    </div>

    <div class="why__content">
      <div class="why__container">
        <h2 class="why__title">Pourquoi choisir Phare?</h2>
        <div class="why__desc">Phare est gardien de votre politique sociale</div>
        <div class="why__text">
          <p>
            Il vous procure le premier logiciel pour HCM. Grace auquel vous pourrez concentrer vos efforts RSE et DPEF là où ils comptent vraiment et gagner du temps en simplifiant les taches de vos RH.
          </p>
          <p>
            Vos collaborateurs seront en interaction en temps reel/continu avec nos
            conseillers quoi que ce soit leur problematique : formation, santé, écologie, famille, logement, d’autres
            aléas de la vie et la vie numérique
          </p>
        </div>
        <button class="btn why__btn">Demander une démo</button>
      </div>
    </div>


    <div class="why__img">
      <img src="images/why-img2.png" class="why__img-elem why__img-elem--second" alt="" width="1200">
      <!-- height="784px" -->
    </div>

    <div class="why__content">
      <div class="why__container">
        <h2 class="why__title">Notre mission</h2>
        <div class="why__desc">Phare est gardien de votre politique sociale</div>
        <div class="why__text">
          <p>
            Notre mission est de vous fournir un logiciel d’accompagnement de votre capital humain
          </p>
          <p>
            Notre action s’inscrit dans le cadre de l’amélioration de la Qualité de Vie au Travail (QVT) et de la
            Prévention des risques psycho-sociaux (RPS).
          </p>
          <p>
            Conscients que l’épanouissement personnel des collaborateurs est aujourd’hui au cœur des préoccupations
            sociales des entreprises, nous conseillons, accompagnons et soutenons les entreprises et leurs salariés afin
            d’affronter, avec eux, certaines problématiques cruciales qu’ils peuvent rencontrer.
          </p>
          <p>
            Soucieux de l’autonomie de chacun, nous œuvrons également à une transmission de connaissances qui sont
            fondamentales par le biais de sessions de sensibilisation et de formation.
          </p>
          <p>
            Notre engagement nous pousse enfin à soutenir activement des initiatives qui s’inscrivent dans le
            développement d’une Economie Sociale et Solidaire.
          </p>
        </div>
      </div>
    </div>


  </div>
</section>
