.action-impact-large {

}

.action-impact-large__icon {
  width: 187px;
  height: 83px;
  box-shadow: 0px 10px 27px rgba(124, 136, 190, 0.15);

  @include phones {
    width: 107px;
    height: 47px;
  }
}

