.classement-demondes {
}

.classement-demondes__icon {
  width: 172px;
  height: 189px;
  box-shadow: 0px 10px 27px rgba(124, 136, 190, 0.15);

  @include phones {
    width: 82px;
    height: 90px;
  }
}

