:root {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
  font-size: 16px;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @include jost;
  color: $black;
  background-color: $gray;
}

.body--locked {
  overflow: hidden;
}


ul {
  margin: 0;
  padding: 0;
}

ul>li {
  list-style: none;
}


input:not([type=checkbox]):not([type=radio]),
select {
  // width: 100%;
  // outline: none;
  // background: #FFFFFF;
  // @include regular();
  // color: $black;
  // border-radius: 10px;
  // padding: rem(19px) rem(23px);
  // border: 1px solid transparent;

  // &:focus {
  //   border-color: $brown-dark;
  // }
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1 {
  @include jost(semibold);
  font-size: 55px;
  text-transform: uppercase;

  @include tablets {
    font-size: 45px;
  }

  @include phones {
    font-size: 25px;
  }
}

h2 {
  @include jost(semibold);
  font-size: 40px;
  text-transform: uppercase;

  @include tablets {
    font-size: 30px;
  }
  @include phones {
    font-size: 20px;
  }
}

h3 {
  @include jost(medium);
  font-size: 20px;

  @include tablets {
    font-size: 18px;
  }

  @include phones {
    font-size: 16px;
  }
}

h4 {
  // font-size: rem(22px);
  // font-weight: 500;

  // @include tablets {
  //   font-size: rem(22px);
  // }

  // @include phones {
  //   font-size: rem(16px);
  // }
}

h5 {
  // font-size: rem(18px);
  // font-weight: 500;

  // @include phones {
  //   font-size: rem(16px);
  // }
}

p {
  margin: 0;

  @include phones {
    font-size: 14px;
  }
}

img {
  display: block;
  max-width: 100%;
}


.wrapper {
  overflow: hidden;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.wrapper__content {
  flex: 1;
}

.dot {
  color: $green;
}

.subtitle {
  @include jost(medium);
  font-size: 20px;

  @include tablets {
    font-size: 18px;
  }

  @include phones {
    font-size: 14px;
  }

}

.br-phones {
  display: none;
  @include phones {
    display: block;
  }
}
