$black: #212121;
$blue: #374483;
$white: #fff;
$gray: #f9f9f9;
$green: #66a182;
$icons-color: #eceded;

$breakpoint-tablet: 1023px;
$breakpoint-mobile: 768px;

$containerWidth: 1200px;

$z-index-menu-header: 10;
$z-index-menu-toggle: 30;
$z-index-menu-dropdown: 20;
